@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rowdies", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Barra De Navegacion */

.navbar {
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
}

.nav-item {
    margin-right: 20px;
    margin-left: 20px;
}

/* Seccion: Presentacion */

.presentacion {
    background-color: bisque;
    margin-top: 30px;
    text-align: center;
    min-height: 450px;
    padding-top: 170px;
    padding-bottom: 180px;
    padding-left: 70px;
    padding-right: 70px;

}

h1 {
    font-size: 2.5rem;
}

.sobre-mi h4 {
    font-size: 1.5rem;
}

/* Seccion: Sobre Mi */

.sobre-mi {
    background-color: #1b1b32;
    color: white;
    text-align: center;
    min-height: 450px;
    padding-top: 135px;
    padding-bottom: 120px;
    padding-left: 90px;
    padding-right: 90px;
}

.sobre-mi h2 p {
    margin-top: 100px;
    margin-bottom: 90px;
}

.sobre-mi img {
    align-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
}

/* Seccion: Proyectos */

.proyectos {
    background-color: bisque;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 70px;
}

.proyectos h2 {
    margin-bottom: 30px;
}

.proyectos h4 {
    margin-bottom: 50px;
}

@media (max-width: 531px) and (max-height: 1040px) {
    .con-proyecto .col {
        display: inline-block;
        vertical-align: top;
        margin: 0 auto 30px;
        float: none;
    }
}

/* Seccion: Contacto */

.contacto {
    background-color: #1b1b32;
    color: white;
    text-align: center;
    min-height: 100px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.contacto h3 {
    margin-bottom: 30px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 10px; 
    display: block; 
}

.form-control {
    background-color: #f2f2f2; 
    border: 1px solid #ad4646; 
}
